body{
  background-color: rgb(254, 225, 229);
}
.moving-button{
  position: absolute;
}
.image{
  margin:30px auto;
  margin-bottom: 5px;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
}
img{
  max-width: 100%;
  max-height: 100%;
}
.text{
  margin: 0px auto;
  font-weight: 900;
  font-size: 20px;
  padding: 3px;
  width:fit-content ;
}
.yes-button{
  width:200px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  top:47%;
  left:30%;
}
.moving-button{
  width:200px;
  height: 40px;
  border-radius: 10px;
}
button{
  border: 1px solid rgb(255, 178, 191);
}